Part 1): Data preparation and preprocessing.
- Perform data preparation and preprocessing for your analysis. 
- Submit your Jupyter notebook in your Github repository

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
# Loading the file

df = pd.read_csv("data.csv", index_col=0)
df["Date"] = pd.to_datetime(df["Date"])
print("Dataframe shape = ",df.shape)
df.head()

E:\Programs\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (0,4,5,6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Dataframe shape =  (318477, 12)

,Title,Company,Date,Location,Area,Classification,SubClassification,Requirement,FullDescription,LowestSalary,HighestSalary,JobType
Id,,,,,,,,,,,,
37404348,Casual Stock Replenisher,Aldi Stores,2018-10-07 00:00:00+00:00,Sydney,North West & Hills District,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,0,30,NaN
37404337,Casual Stock Replenisher,Aldi Stores,2018-10-07 00:00:00+00:00,Richmond & Hawkesbury,NaN,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,0,30,NaN
37404356,RETAIL SALES SUPERSTARS and STYLISTS Wanted - ...,LB Creative Pty Ltd,2018-10-07 00:00:00+00:00,Brisbane,CBD & Inner Suburbs,Retail & Consumer Products,Retail Assistants,BRAND NEW FLAGSHIP STORE OPENING - SUNSHINE PLAZA,NaN,0,30,NaN
37404330,Team member - Belrose,Anaconda Group Pty Ltd,2018-10-07 00:00:00+00:00,Gosford & Central Coast,NaN,Retail & Consumer Products,Retail Assistants,Bring it on - do you love the great outdoors a...,NaN,0,30,NaN
37404308,"Business Banking Contact Centre Specialist, Ni...",Commonwealth Bank - Business & Private Banking,2018-10-07 00:00:00+00:00,Sydney,Ryde & Macquarie Park,Call Centre & Customer Service,Sales - Inbound,"We are seeking highly articulate, enthusiastic...",NaN,0,30,NaN

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 318477 entries, 37404348 to 38561751
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Title              318477 non-null  object
 1   Company            306473 non-null  object
 2   Date               318477 non-null  datetime64[ns, UTC]
 3   Location           197229 non-null  object
 4   Area               122658 non-null  object
 5   Classification     197229 non-null  object
 6   SubClassification  197229 non-null  object
 7   Requirement        318470 non-null  object
 8   FullDescription    302302 non-null  object
 9   LowestSalary       318477 non-null  int64
 10  HighestSalary      318477 non-null  int64
 11  JobType            302379 non-null  object
dtypes: datetime64[ns, UTC](1), int64(2), object(9)
memory usage: 31.6+ MB

In [11]:
type(df.index)

pandas.core.indexes.base.Index

Need to prime the data for analysis section so need:

1. What is the sector, sub-sector of each job?
2. Where is the location of each job?
3. What is the range of salaries for each job?

Now, study the market by locations:
1. What is the market size in each city? What are the hottest job sectors in each city?
2. Which range of salary is common in each city? Where are the employees more well-paid?
3. Can you detect the pattern of posting: e.g. Are more jobs posted at the beginning of the month?

Now, study the market by sectors:
1. Which sectors keep the highest market share?
2. In each sector, which sub-sectors are the main spotlights?
3. What is the salary range for each sector/sub-sector? Can you compare the salary range between sectors/subsectors?
4. What is the trending of the market, i.e., if a high school student asks you which subject should he/she learn in the university (to guarantee a job in the future), what is your advice?
5. Can you detect which skills are required in each sector?

Keep in mind these sectors / locations that need to be considered when cleaning the data. Think about sub data frames that need to be made and think of the correlations that need to be found.