Part 1): Data preparation and preprocessing.
- Perform data preparation and preprocessing for your analysis. 
- Submit your Jupyter notebook in your Github repository

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
# Loading the file

df = pd.read_csv("data.csv", index_col=0)

print("Dataframe shape = ",df.shape)
df.head()

E:\Programs\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (0,4,5,6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Dataframe shape =  (318477, 12)

,Title,Company,Date,Location,Area,Classification,SubClassification,Requirement,FullDescription,LowestSalary,HighestSalary,JobType
Id,,,,,,,,,,,,
37404348,Casual Stock Replenisher,Aldi Stores,2018-10-07T00:00:00.000Z,Sydney,North West & Hills District,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,0,30,NaN
37404337,Casual Stock Replenisher,Aldi Stores,2018-10-07T00:00:00.000Z,Richmond & Hawkesbury,NaN,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,0,30,NaN
37404356,RETAIL SALES SUPERSTARS and STYLISTS Wanted - ...,LB Creative Pty Ltd,2018-10-07T00:00:00.000Z,Brisbane,CBD & Inner Suburbs,Retail & Consumer Products,Retail Assistants,BRAND NEW FLAGSHIP STORE OPENING - SUNSHINE PLAZA,NaN,0,30,NaN
37404330,Team member - Belrose,Anaconda Group Pty Ltd,2018-10-07T00:00:00.000Z,Gosford & Central Coast,NaN,Retail & Consumer Products,Retail Assistants,Bring it on - do you love the great outdoors a...,NaN,0,30,NaN
37404308,"Business Banking Contact Centre Specialist, Ni...",Commonwealth Bank - Business & Private Banking,2018-10-07T00:00:00.000Z,Sydney,Ryde & Macquarie Park,Call Centre & Customer Service,Sales - Inbound,"We are seeking highly articulate, enthusiastic...",NaN,0,30,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 318477 entries, 37404348 to 38561751
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Title              318477 non-null  object
 1   Company            306473 non-null  object
 2   Date               318477 non-null  object
 3   Location           197229 non-null  object
 4   Area               122658 non-null  object
 5   Classification     197229 non-null  object
 6   SubClassification  197229 non-null  object
 7   Requirement        318470 non-null  object
 8   FullDescription    302302 non-null  object
 9   LowestSalary       318477 non-null  int64
 10  HighestSalary      318477 non-null  int64
 11  JobType            302379 non-null  object
dtypes: int64(2), object(10)
memory usage: 31.6+ MB